[app]
prod = true
host = "0.0.0.0"
port = 37777
threaded = true
debug = true
ssl = false
ssl_key = "resources/key.pem"
ssl_cert = "resources/cert.pem"
ssl_encapsulated = false
templates_folder = "front/templates"
static_folder = "front/static"
secret_key = ""
default_language = "fr"

[temod]
bound_database = "mysql"
core_directory = "core"

[storage.credentials]
host = "127.0.0.1"
port = 3306
database = "watchtower"