<div class="col-md-3 mb-3">
    <label for="scheme" class="form-label">Protocole</label>
    <select class="form-select form-child" id="scheme" name="scheme" data-form-parent="details" required>
        <option value="" disabled {% if details['scheme'] is not defined or details['scheme'] is none %}selected{% endif %}>Sélectionner un protocole...</option>
        <option value="http" {% if details['scheme'] =='http' %}selected{% endif %}>Http</option>
        <option value="https" {% if details['scheme'] =='https' %}selected{% endif %}>Https</option>
    </select>
    <div class="invalid-feedback">
        Veuillez sélectionner un protocole valide.
    </div>
</div>

<div class="col-md-3 mb-3">
    <label for="method" class="form-label">Méthode</label>
    <select class="form-select form-child" id="method" name="method" data-form-parent="details" required>
        <option value="" disabled {% if details['method'] is not defined or details['method'] is none %}selected{% endif %}>Sélectionner une méthode...</option>
        <option value="get" {% if details['method'] =='get' %}selected{% endif %}>GET</option>
        <option value="post" {% if details['method'] =='post' %}selected{% endif %}>POST</option>
    </select>
    <div class="invalid-feedback">
        Veuillez sélectionner une méthode valide.
    </div>
</div>

<div class="col-md-6 mb-3">
    <label for="host" class="form-label">Hôte</label>
    <input type="text" class="form-control form-child" id="host" name="host" data-form-parent="details" value="{{details['host'] if details['host']}}" required>
    <div class="invalid-feedback">
        Veuillez fournir un hôte valide.
    </div>
</div>

<div class="col-md-4 mb-3">
    <label for="port" class="form-label">Port</label>
    <input type="number" class="form-control form-child" id="port" name="port" min="1" max="65535" data-form-parent="details" value="{{details['port'] if details['port']}}">
    <div class="invalid-feedback">
        Veuillez fournir un port valide (1-65535).
    </div>
</div>

<div class="col-md-4 mb-3">
    <label for="path" class="form-label">Chemin</label>
    <input type="text" class="form-control form-child" id="path" name="path" data-form-parent="details" value="{{details['path'] if details['path']}}">
    <div class="invalid-feedback">
        Veuillez fournir un chemin valide.
    </div>
</div>

<div class="col-md-4 mb-3">
    <label for="headers" class="form-label">En-têtes</label>
    <input type="text" class="form-control form-child" id="headers" name="headers" data-form-parent="details" value="{{details['headers'] if details['headers']}}">
    <div class="invalid-feedback">
        Veuillez fournir des en-têtes valides.
    </div>
</div>